@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-zinc-850: #1d1d20;

  /* Custom font sizes */
  --font-size-10xl: 10rem;

  /* Drop shadows */
  --drop-shadow-extreme: 0 0 50px black;

  /* Font families */
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-hanken: "Hanken Grotesk", sans-serif;
  --font-schibsted: "Schibsted Grotesk", sans-serif;

  /* Background images */
  --background-image-gradient-radial: radial-gradient(
    50% 50% at 50% 50%,
    var(--tw-gradient-stops)
  );

  /* Animations */
  --animate-bg-fast: fade 0.5s ease-in-out 0.5s forwards;
  --animate-bg: fade 1.2s ease-in-out 1.1s forwards;
  --animate-fade-in: fade-in 2.5s ease-in-out forwards;
  --animate-title: title 3s ease-out forwards;
  --animate-fade-left: fade-left 3s ease-in-out forwards;
  --animate-fade-right: fade-right 3s ease-in-out forwards;
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  30% {
    transform: translateX(0%);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  30% {
    transform: translateX(0%);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes title {
  0% {
    line-height: 0%;
    letter-spacing: 0.25em;
    opacity: 0;
  }
  25% {
    line-height: 0%;
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    line-height: 100%;
    opacity: 100%;
  }
}

html,
body {
  @apply font-inter overflow-x-hidden text-white;
}

.description {
  hyphens: auto;
}

@media (min-width: 768px) {
  .description {
    hyphens: none;
  }
}

body {
  @apply h-full;
}
