@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// Used for ItemCard
@mixin active {
  .elements {
    @apply grid opacity-100;
  }

  > img {
    @apply blur-2xl;
  }
}

html,
body {
  @apply font-inter overflow-x-hidden;
}

.item {
  @apply pointer-events-auto relative aspect-[7/2] w-full cursor-pointer overflow-hidden rounded transition-all sm:h-[14rem] md:h-[16rem] lg:aspect-[5/3];
  > img {
    @apply rounded transition-all;
  }

  .elements {
    @apply hidden opacity-0 transition-all delay-100;
    > * {
      z-index: 30;
      min-height: 0;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include active;
    }
  }

  &.active {
    @include active;
  }
}

.icon-grid {
  direction: rtl;
  @apply max-h-full min-h-0 min-w-0 max-w-full;

  > a > svg {
    @apply h-full w-full;
  }

  > svg,
  a {
    width: 75%;
    height: 75%;
    @apply m-auto aspect-square text-white opacity-80 drop-shadow-md transition-transform hover:scale-[120%] hover:opacity-100;
  }
}

.description {
  hyphens: auto;
  @screen md {
    hyphens: none;
  }
}

body {
  @apply h-full;
}
